{% extends "base.html" %}

{% block announce %}
<a href="https://github.com/cirruslabs/tart">
  🍏🍏🍏&nbsp&nbspIntroducing <strong>Tart for Apple Silicon</strong> – open source virtualization for your automation needs&nbsp;&nbsp;🍏🍏🍏
</a>
{% endblock %}

<!-- Render landing page under tabs -->
{% block tabs %}
{{ super() }}

<!-- Additional styles for landing page -->
<style>

  /* Application header should be static for the landing page */
  .md-header {
    position: initial;
  }

  /* Remove spacing, as we cannot hide it completely */
  .md-main__inner {
    margin: 0;
  }

  /* Hide main content for now */
  .md-content {
    display: none;
  }

  /* Hide table of contents */
  @media screen and (min-width: 60em) {
    .md-sidebar--secondary {
      display: none;
    }
  }

  /* Hide navigation */
  @media screen and (min-width: 76.25em) {
    .md-sidebar--primary {
      display: none;
    }
  }
</style>

<!-- landing page for landing page -->
<section class="tx-container">
  <div class="md-grid md-typeset">
    <div class="tx-landing">
      <!-- landing image -->
      <div class="tx-landing__image">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player id="lottieAnimation" background="transparent"
                       style="max-width: 100%; height: auto;"
                       speed="1" loop autoplay>
        </lottie-player>
        <script>
          let randomAnimationIndex = Math.floor(Math.random() * 4) % 4;
          let animation = document.getElementById("lottieAnimation");
          animation.load("assets/animations/" + randomAnimationIndex + ".json");
        </script>
      </div>

      <!-- landing content -->
      <div class="tx-landing__content">
        <h2>Make your development cycle <b>fast</b>, <b>cost efficient</b>, and <b>secure</b></h2>
        <p>Cirrus CI is arguably the most technological and flexible Continuous Integration service there is.</p>
        <p>
          Start on an infrastructure managed by us and enjoy <a href="/pricing/#compute-credits">per-second billing</a>
          with <b>no concurrency limits</b>!
        </p>
        <p>
          Grow your product without worrying about infrastructure maintenance and updates. When it's the right time,
          configure and bring <a href="/guide/supported-computing-services">your own infrastructure</a>.
        </p>
        <p><b>Build your Open Source projects on Linux, Windows, macOS and FreeBSD for free, including ARM architecture!</b></p>

        <a
          href="/features"
          title="Features"
          class="md-button"
        >
          Learn More
        </a>
      </div>
    </div>
  </div>
  <div class="md-grid md-typeset">
    <div class="tx-landing">
      <div class="tx-landing__testimonials">
        <h2>Trusted by Open Source</h2>
        <div class="tx-landing__logos">
          <img src="/assets/images/logos/ruby.png">
          <img src="/assets/images/logos/rust.png">
          <img src="/assets/images/logos/flutter.png">
          <img src="/assets/images/logos/freebsd.png">
          <img src="/assets/images/logos/podman.png">
          <img src="/assets/images/logos/postgresql.png">
          <img src="/assets/images/logos/curl.svg">
          <img src="/assets/images/logos/bitcoin_core.png">
        </div>
      </div>
    </div>
  </div>
  <div class="md-grid md-typeset">
    <div class="tx-landing">
      <div class="tx-landing__quotes">
        <h2>Trusted by Companies</h2>
        <figure class="tx-landing__quote">
          <a href="https://www.sonarsource.com/">
            <img src="/assets/images/logos/SonarSource.png">
          </a>
          <blockquote>
            Cirrus CI is a CI engine that was built "How we would have done it at SonarSource if we had the bandwidth
            and the people"
          </blockquote>
          <figcaption>Olivier Gaudin, CEO & Co-Founder</figcaption>
        </figure>
        <figure class="tx-landing__quote">
          <a href="https://smartrent.com/">
            <img src="/assets/images/logos/smartrent.png">
          </a>
          <blockquote>
            SmartRent has been using Cirrus CI since 2018 and in that time our CI needs have grown considerably; Cirrus
            CI has allowed us to grow without having to scale our CI solution or worry about maintenance and updates.
            Cirrus CI has also been very responsive to questions and worked with us to implement new features or show us
            the best way to use Cirris CI to fit our needs.
          </blockquote>
          <figcaption>Matt Lorey, Vice President, Technology</figcaption>
        </figure>
        <figure class="tx-landing__quote">
          <a href="https://www.redhat.com/en/">
            <img src="/assets/images/logos/redhat.svg">
          </a>
          <blockquote>
            The speed, reliability, and flexibility of Cirrus CI has been
            outstanding for the Red Hat container-runtimes team. Configuration has
            been easy to manage, with minimal duplication. Direct integration with
            our cloud resources has allowed us to both scale and maintain great
            low-level observability.
          </blockquote>
          <figcaption>Chris Evich, Senior Quality Assurance Engineer</figcaption>
        </figure>
        <a
          href="/guide/quick-start/"
          title="Go to Quick Start"
          class="md-button"
        >
          Quick Start
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %}
